@model List<E_commerce.Models.CheckoutViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> You have successfully placed an order.
</div>



